In [81]:
import pandas as pd
import numpy as np

In [82]:
uriage = pd.read_csv('pyda100-master/2장/uriage.csv')
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05     상 품 S         NaN           김우찬
2     2019-05-11 19:42     상 품 a         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [83]:
customer_data = pd.read_excel('pyda100-master/2장/kokyaku_daicho.xlsx')
customer_data

customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객이름    200 non-null    object
 1   지역      200 non-null    object
 2   등록일     200 non-null    object
dtypes: object(3)
memory usage: 4.8+ KB

In [99]:
customer_data['고객이름'] = customer_data['고객이름'].str.replace(" ", "")
customer_data['고객이름']

0      김현성
1      김도윤
2      김지한
3      김하윤
4      김시온
      ...
195    김재희
196    김도영
197    김이안
198    김시현
199    김서우
Name: 고객이름, Length: 200, dtype: object

In [96]:
uriage['item_name'] = uriage['item_name'].str.replace(" ", "")
uriage['item_name']

0       상품A
1       상품S
2       상품a
3       상품Z
4       상품a
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [97]:
uriage['item_name'] = uriage['item_name'].str.upper()
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [106]:
uriage['item_name'].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

{'상품A': [0, 2, 4, 6, 9, 14, 31, 35, 61, 117, 130, 171, 210, 211, 223, 234, 274, 295, 300, 346, 347, 360, 361, 363, 395, 411, 473, 485, 488, 497, 568, 577, 602, 612, 634, 642, 667, 678, 696, 700, 706, 728, 801, 803, 817, 838, 844, 859, 867, 872, 877, 878, 900, 952, 957, 1009, 1036, 1038, 1053, 1111, 1160, 1189, 1214, 1217, 1228, 1260, 1273, 1277, 1288, 1320, 1340, 1343, 1344, 1394, 1398, 1454, 1474, 1481, 1498, 1500, 1513, 1544, 1576, 1658, 1684, 1707, 1708, 1721, 1738, 1742, 1748, 1761, 1835, 1863, 1892, 1902, 1937, 1954, 1977, 2002, ...], '상품B': [42, 46, 101, 194, 212, 228, 241, 245, 256, 285, 290, 292, 321, 330, 379, 380, 390, 447, 457, 459, 544, 550, 551, 585, 607, 628, 641, 652, 671, 691, 768, 799, 856, 890, 895, 905, 927, 931, 941, 983, 996, 999, 1033, 1100, 1104, 1126, 1140, 1143, 1150, 1154, 1156, 1172, 1181, 1183, 1184, 1205, 1209, 1234, 1238, 1264, 1307, 1312, 1365, 1407, 1413, 1449, 1469, 1471, 1497, 1601, 1654, 1681, 1698, 1709, 1787, 1811, 1848, 1860, 1975, 1980, 1988, 1999, 2037, 2070, 2086, 2195, 2203, 2266, 2267, 2316, 2324, 2330, 2340, 2359, 2398, 2416, 2425, 2490, 2565, 2605, ...], '상품C': [15, 114, 144, 173, 183, 195, 222, 250, 257, 294, 298, 357, 417, 453, 466, 479, 500, 505, 519, 528, 537, 538, 575, 596, 597, 627, 629, 640, 647, 672, 721, 724, 782, 791, 827, 828, 837, 852, 870, 876, 915, 917, 945, 994, 1016, 1028, 1047, 1071, 1090, 1112, 1113, 1115, 1157, 1188, 1200, 1202, 1206, 1271, 1286, 1294, 1306, 1308, 1332, 1356, 1363, 1422, 1428, 1442, 1456, 1479, 1484, 1495, 1515, 1582, 1589, 1608, 1609, 1694, 1726, 1741, 1759, 1770, 1778, 1780, 1783, 1798, 1824, 1850, 1890, 1946, 1947, 1956, 1996, 2024, 2038, 2124, 2180, 2192, 2235, 2280, ...], '상품D': [56, 73, 140, 163, 186, 203, 204, 279, 351, 365, 385, 410, 441, 451, 458, 461, 468, 475, 476, 478, 507, 523, 563, 601, 614, 620, 626, 630, 663, 669, 731, 741, 781, 796, 864, 865, 886, 894, 910, 918, 925, 969, 974, 1185, 1266, 1269, 1303, 1305, 1330, 1338, 1339, 1348, 1410, 1415, 1440, 1443, 1447, 1459, 1552, 1602, 1630, 1631, 1668, 1669, 1693, 1695, 1696, 1735, 1743, 1777, 1814, 1837, 1844, 1846, 1851, 1862, 1881, 1912, 1936, 2068, 2073, 2091, 2119, 2130, 2144, 2193, 2210, 2244, 2263, 2264, 2285, 2348, 2361, 2383, 2414, 2424, 2427, 2435, 2502, 2513, ...], '상품E': [36, 92, 93, 157, 180, 187, 206, 260, 264, 282, 314, 316, 322, 369, 402, 407, 421, 427, 444, 491, 503, 515, 534, 536, 576, 654, 729, 750, 752, 762, 779, 794, 826, 875, 904, 924, 1007, 1012, 1068, 1077, 1082, 1155, 1169, 1248, 1295, 1352, 1403, 1463, 1468, 1528, 1537, 1540, 1541, 1573, 1612, 1640, 1650, 1653, 1672, 1675, 1677, 1717, 1779, 1793, 1803, 1864, 1888, 1901, 1914, 1938, 2012, 2034, 2054, 2069, 2138, 2157, 2169, 2181, 2213, 2271, 2273, 2322, 2338, 2362, 2375, 2408, 2433, 2474, 2577, 2589, 2590, 2595, 2616, 2621, 2626, 2656, 2678, 2705, 2760, 2771, ...], '상품F': [43, 48, 55, 77, 99, 138, 177, 192, 193, 208, 227, 237, 261, 262, 263, 270, 275, 291, 340, 348, 377, 389, 409, 415, 422, 430, 446, 449, 474, 529, 535, 556, 591, 592, 598, 604, 605, 610, 615, 631, 685, 694, 761, 767, 798, 944, 970, 977, 979, 988, 1010, 1018, 1043, 1057, 1060, 1061, 1073, 1075, 1125, 1163, 1180, 1211, 1237, 1252, 1300, 1418, 1441, 1490, 1520, 1526, 1554, 1557, 1636, 1643, 1665, 1673, 1722, 1733, 1767, 1800, 1821, 1880, 1894, 1908, 1911, 1918, 1933, 1989, 2030, 2053, 2078, 2112, 2127, 2145, 2170, 2172, 2178, 2249, 2257, 2262, ...], '상품G': [21, 124, 139, 149, 159, 201, 265, 312, 313, 335, 336, 337, 338, 350, 366, 367, 442, 539, 573, 595, 616, 645, 657, 682, 690, 713, 723, 815, 831, 846, 928, 959, 980, 1021, 1051, 1062, 1132, 1220, 1246, 1254, 1256, 1335, 1341, 1351, 1355, 1358, 1375, 1380, 1400, 1436, 1455, 1475, 1550, 1561, 1570, 1574, 1587, 1648, 1671, 1699, 1769, 1771, 1805, 1806, 1836, 1854, 1865, 1874, 1986, 1991, 2021, 2033, 2067, 2077, 2083, 2096, 2097, 2102, 2103, 2114, 2117, 2146, 2148, 2149, 2153, 2158, 2188, 2256, 2320, 2323, 2350, 2430, 2456, 2571, 2645, 2647, 2690, 2695, 2703, 2704, ...], '상품H': [65, 94, 111, 311, 345, 378, 398, 493, 496, 520, 533, 543, 566, 567, 608, 633, 668, 749, 755, 809, 814, 863, 919, 949, 954, 993, 1005, 1023, 1027, 1039, 1092, 1099, 1114, 1116, 1124, 1146, 1165, 1191, 1239, 1242, 1270, 1296, 1347, 1364, 1378, 1392, 1395, 1425, 1477, 1503, 1558, 1564, 1569, 1593, 1713, 1731, 1755, 1784, 1809, 1866, 1868, 1896, 1905, 1930, 1952, 1963, 1982, 1983, 1990, 1997, 2016, 2093, 2095, 2120, 2187, 2194, 2200, 2223, 2236, 2240, 2242, 2251, 2335, 2428, 2479, 2538, 2541, 2543, 2560, 2576, 2579, 2631, 2659, 2721, 2774, 2779, 2783, 2784, 2798, 2823, ...], '상품I': [17, 54, 63, 87, 108, 110, 122, 134, 151, 184, 200, 218, 269, 352, 359, 382, 399, 463, 549, 553, 569, 571, 609, 621, 638, 650, 688, 756, 765, 774, 792, 882, 902, 968, 991, 995, 1015, 1022, 1034, 1040, 1065, 1079, 1098, 1109, 1110, 1142, 1232, 1255, 1333, 1399, 1420, 1421, 1462, 1464, 1465, 1496, 1512, 1538, 1539, 1553, 1586, 1594, 1628, 1644, 1657, 1662, 1711, 1714, 1747, 1766, 1796, 1812, 1827, 1834, 1841, 1897, 1919, 1965, 1987, 2007, 2008, 2017, 2079, 2137, 2160, 2208, 2222, 2282, 2296, 2313, 2325, 2373, 2423, 2445, 2478, 2499, 2516, 2517, 2557, 2591, ...], '상품J': [74, 168, 220, 221, 225, 281, 286, 344, 394, 397, 428, 462, 464, 467, 541, 560, 565, 666, 695, 716, 739, 777, 790, 830, 840, 845, 848, 891, 912, 914, 940, 955, 982, 989, 998, 1035, 1052, 1054, 1093, 1117, 1137, 1153, 1224, 1280, 1292, 1297, 1376, 1384, 1408, 1429, 1438, 1522, 1535, 1547, 1567, 1617, 1619, 1691, 1701, 1723, 1745, 1750, 1782, 1825, 1872, 1899, 1928, 1932, 1959, 1969, 1979, 2042, 2048, 2085, 2092, 2106, 2129, 2142, 2150, 2154, 2176, 2183, 2190, 2198, 2211, 2212, 2229, 2241, 2302, 2311, 2369, 2370, 2376, 2442, 2453, 2496, 2503, 2507, 2531, 2542, ...], '상품K': [37, 41, 85, 100, 148, 178, 196, 272, 289, 302, 308, 386, 388, 393, 477, 486, 499, 527, 532, 548, 582, 623, 670, 715, 783, 784, 800, 836, 896, 911, 921, 942, 1014, 1041, 1046, 1087, 1088, 1097, 1118, 1128, 1176, 1315, 1331, 1353, 1360, 1445, 1488, 1502, 1505, 1527, 1534, 1543, 1555, 1556, 1605, 1620, 1629, 1685, 1712, 1719, 1720, 1739, 1753, 1817, 1884, 1889, 1893, 1915, 1922, 1931, 1940, 1955, 1970, 2043, 2046, 2066, 2094, 2099, 2104, 2147, 2184, 2224, 2259, 2276, 2288, 2308, 2374, 2434, 2437, 2528, 2601, 2666, 2667, 2671, 2709, 2716, 2719, 2724, 2745, 2780, ...], '상품L': [11, 76, 137, 152, 160, 232, 240, 267, 276, 287, 301, 325, 384, 436, 456, 518, 570, 649, 661, 677, 740, 746, 760, 773, 807, 832, 855, 861, 862, 883, 889, 1008, 1013, 1019, 1025, 1055, 1078, 1101, 1102, 1106, 1131, 1187, 1192, 1253, 1262, 1267, 1291, 1323, 1368, 1404, 1406, 1504, 1521, 1530, 1565, 1607, 1659, 1661, 1688, 1697, 1702, 1826, 1829, 1879, 1906, 1925, 1953, 1964, 1974, 2004, 2010, 2027, 2032, 2058, 2060, 2082, 2156, 2191, 2243, 2270, 2295, 2354, 2371, 2390, 2411, 2436, 2443, 2459, 2572, 2582, 2588, 2597, 2622, 2675, 2684, 2687, 2701, 2725, 2731, 2751, ...], '상품M': [58, 59, 71, 107, 129, 162, 197, 226, 293, 306, 319, 334, 339, 349, 364, 381, 426, 460, 481, 483, 586, 606, 673, 683, 686, 687, 712, 720, 757, 758, 816, 818, 819, 874, 937, 985, 1064, 1069, 1215, 1223, 1230, 1236, 1302, 1309, 1319, 1328, 1342, 1349, 1370, 1377, 1430, 1435, 1451, 1531, 1559, 1579, 1599, 1613, 1615, 1624, 1663, 1666, 1706, 1729, 1740, 1749, 1774, 1788, 1833, 1838, 1839, 1843, 1885, 1909, 1926, 1935, 1942, 1992, 2005, 2023, 2029, 2047, 2062, 2133, 2135, 2162, 2196, 2252, 2289, 2310, 2328, 2356, 2379, 2391, 2401, 2450, 2466, 2519, 2548, 2608, ...], '상품N': [32, 51, 79, 86, 105, 125, 143, 165, 182, 207, 209, 229, 253, 296, 343, 403, 448, 487, 508, 513, 524, 525, 580, 648, 656, 659, 665, 681, 726, 727, 734, 737, 764, 769, 775, 839, 841, 873, 879, 899, 923, 1000, 1001, 1050, 1074, 1081, 1084, 1096, 1127, 1174, 1177, 1281, 1285, 1304, 1329, 1374, 1401, 1409, 1411, 1419, 1437, 1458, 1518, 1532, 1604, 1621, 1639, 1670, 1683, 1736, 1754, 1762, 1765, 1772, 1794, 1819, 1857, 1861, 1891, 1921, 1934, 2019, 2151, 2161, 2173, 2248, 2319, 2332, 2380, 2386, 2409, 2463, 2471, 2476, 2511, 2545, 2550, 2553, 2583, 2649, ...], '상품O': [8, 13, 20, 38, 40, 75, 83, 88, 98, 164, 174, 219, 233, 277, 315, 353, 370, 396, 404, 423, 470, 482, 521, 558, 581, 611, 617, 664, 701, 710, 711, 717, 751, 766, 770, 780, 824, 835, 888, 908, 920, 934, 939, 946, 973, 976, 984, 986, 987, 1067, 1070, 1095, 1144, 1148, 1152, 1182, 1186, 1195, 1225, 1235, 1272, 1298, 1311, 1327, 1373, 1426, 1432, 1523, 1533, 1563, 1566, 1600, 1623, 1646, 1655, 1724, 1744, 1776, 1818, 1867, 1886, 1904, 1920, 1972, 1978, 1985, 1995, 2028, 2075, 2098, 2115, 2116, 2125, 2268, 2309, 2327, 2331, 2372, 2389, 2393, ...], '상품P': [24, 27, 28, 30, 44, 53, 66, 67, 80, 120, 131, 154, 158, 161, 216, 243, 255, 297, 303, 320, 358, 414, 429, 472, 484, 492, 494, 510, 512, 514, 526, 622, 637, 699, 725, 771, 834, 860, 885, 903, 951, 960, 966, 1024, 1037, 1083, 1105, 1135, 1145, 1196, 1197, 1226, 1233, 1261, 1274, 1283, 1317, 1321, 1322, 1324, 1389, 1427, 1444, 1450, 1478, 1483, 1487, 1507, 1545, 1581, 1611, 1637, 1642, 1649, 1690, 1728, 1756, 1781, 1790, 1797, 1816, 1830, 1842, 1853, 1917, 1971, 1981, 1993, 2014, 2044, 2055, 2167, 2174, 2175, 2185, 2189, 2216, 2272, 2304, 2326, ...], '상품Q': [25, 52, 60, 103, 104, 119, 150, 199, 230, 246, 252, 258, 305, 356, 376, 406, 419, 437, 439, 440, 471, 562, 588, 613, 708, 719, 754, 793, 806, 811, 820, 849, 857, 901, 907, 936, 938, 958, 961, 967, 1066, 1086, 1094, 1119, 1141, 1149, 1159, 1166, 1167, 1207, 1240, 1243, 1251, 1257, 1268, 1275, 1276, 1287, 1290, 1325, 1334, 1345, 1396, 1439, 1492, 1494, 1510, 1591, 1598, 1622, 1641, 1679, 1682, 1752, 1758, 1791, 1802, 1808, 1820, 1822, 1856, 1869, 1875, 1876, 1903, 1910, 1916, 1924, 1941, 1957, 1960, 2045, 2087, 2165, 2201, 2209, 2215, 2217, 2245, 2286, ...], '상품R': [18, 23, 29, 33, 57, 89, 113, 170, 235, 236, 239, 307, 317, 331, 383, 405, 412, 418, 465, 469, 501, 545, 546, 572, 590, 593, 594, 624, 632, 651, 655, 697, 703, 705, 718, 736, 748, 785, 797, 808, 829, 851, 858, 866, 897, 950, 962, 965, 1004, 1017, 1032, 1042, 1045, 1072, 1133, 1147, 1151, 1231, 1284, 1299, 1371, 1393, 1448, 1529, 1568, 1580, 1597, 1606, 1676, 1704, 1705, 1746, 1764, 1775, 1804, 1849, 1852, 1859, 1877, 1939, 1958, 1966, 1968, 1976, 2022, 2026, 2036, 2071, 2074, 2076, 2080, 2084, 2105, 2108, 2143, 2182, 2218, 2225, 2234, 2238, ...], '상품S': [1, 5, 47, 81, 95, 106, 127, 146, 181, 215, 259, 278, 304, 355, 362, 372, 400, 401, 425, 431, 438, 445, 454, 455, 555, 559, 618, 635, 714, 733, 742, 763, 787, 810, 812, 825, 847, 868, 892, 906, 932, 943, 947, 956, 975, 978, 992, 1030, 1044, 1091, 1108, 1122, 1129, 1168, 1190, 1193, 1210, 1212, 1213, 1227, 1326, 1337, 1346, 1362, 1366, 1372, 1391, 1457, 1460, 1461, 1470, 1499, 1516, 1546, 1551, 1560, 1575, 1585, 1592, 1596, 1627, 1651, 1652, 1656, 1678, 1687, 1689, 1703, 1751, 1795, 1944, 1949, 1961, 2000, 2050, 2065, 2107, 2110, 2113, 2197, ...], '상품T': [68, 109, 116, 118, 123, 153, 155, 202, 231, 326, 368, 371, 373, 392, 432, 506, 516, 542, 587, 599, 619, 674, 680, 684, 745, 802, 821, 933, 948, 981, 1059, 1123, 1170, 1171, 1173, 1179, 1204, 1208, 1216, 1218, 1229, 1244, 1259, 1263, 1265, 1279, 1301, 1314, 1318, 1350, 1381, 1382, 1387, 1402, 1405, 1417, 1452, 1519, 1524, 1548, 1588, 1590, 1595, 1626, 1635, 1645, 1686, 1715, 1757, 1773, 1871, 1873, 1895, 1900, 1923, 1994, 2013, 2020, 2056, 2072, 2121, 2134, 2155, 2179, 2207, 2230, 2233, 2258, 2275, 2290, 2298, 2312, 2349, 2426, 2447, 2448, 2449, 2482, 2483, 2494, ...], '상품U': [10, 64, 78, 126, 128, 132, 135, 142, 147, 176, 224, 247, 249, 266, 268, 283, 323, 435, 443, 498, 511, 531, 552, 578, 589, 658, 692, 732, 776, 789, 804, 823, 843, 854, 922, 953, 1006, 1049, 1085, 1089, 1103, 1107, 1121, 1136, 1158, 1203, 1241, 1313, 1316, 1388, 1476, 1485, 1501, 1509, 1517, 1542, 1667, 1710, 1768, 1815, 1823, 1840, 1847, 1883, 1913, 1943, 1950, 1962, 1998, 2035, 2040, 2041, 2049, 2081, 2101, 2118, 2122, 2128, 2132, 2136, 2141, 2166, 2199, 2204, 2206, 2219, 2253, 2303, 2317, 2341, 2345, 2367, 2406, 2521, 2537, 2570, 2593, 2615, 2624, 2681, ...], '상품V': [7, 12, 16, 72, 84, 90, 115, 156, 175, 188, 190, 217, 242, 251, 273, 280, 324, 328, 332, 341, 375, 387, 391, 420, 424, 480, 490, 504, 530, 547, 557, 564, 574, 583, 584, 625, 643, 646, 676, 698, 709, 730, 747, 753, 772, 795, 871, 887, 898, 916, 990, 1002, 1011, 1048, 1058, 1080, 1134, 1162, 1175, 1178, 1194, 1198, 1221, 1245, 1247, 1249, 1282, 1336, 1357, 1369, 1383, 1397, 1412, 1416, 1453, 1466, 1486, 1514, 1536, 1577, 1578, 1616, 1625, 1632, 1634, 1664, 1674, 1700, 1727, 1760, 1792, 1810, 1831, 1832, 1887, 1948, 1951, 1984, 2052, 2088, ...], '상품W': [34, 39, 50, 70, 96, 102, 121, 145, 167, 172, 179, 185, 248, 271, 284, 288, 327, 329, 333, 342, 354, 413, 433, 434, 502, 509, 517, 522, 644, 653, 662, 722, 738, 744, 788, 813, 880, 909, 935, 997, 1076, 1120, 1130, 1138, 1139, 1161, 1219, 1289, 1310, 1367, 1385, 1390, 1423, 1424, 1446, 1467, 1473, 1482, 1491, 1506, 1511, 1562, 1572, 1584, 1660, 1716, 1785, 1799, 1801, 1828, 1845, 1855, 1858, 1929, 1973, 2001, 2003, 2006, 2011, 2018, 2025, 2111, 2131, 2140, 2152, 2164, 2202, 2205, 2221, 2250, 2269, 2294, 2300, 2314, 2315, 2318, 2333, 2336, 2368, 2415, ...], '상품X': [19, 22, 45, 49, 82, 133, 136, 141, 166, 169, 191, 213, 244, 254, 299, 309, 310, 374, 452, 489, 495, 540, 554, 561, 579, 636, 675, 693, 704, 759, 778, 786, 822, 842, 850, 881, 893, 913, 929, 930, 963, 971, 1003, 1020, 1026, 1031, 1056, 1063, 1164, 1199, 1201, 1250, 1278, 1293, 1359, 1433, 1472, 1480, 1489, 1493, 1549, 1610, 1614, 1618, 1633, 1647, 1680, 1725, 1730, 1734, 1763, 1786, 1789, 1807, 1870, 1898, 1927, 1945, 1967, 2031, 2051, 2057, 2064, 2168, 2226, 2228, 2260, 2274, 2277, 2281, 2305, 2339, 2357, 2358, 2468, 2472, 2497, 2500, 2555, 2578, ...], '상품Y': [26, 62, 69, 91, 97, 112, 189, 198, 205, 214, 238, 318, 408, 416, 450, 600, 603, 639, 660, 679, 689, 702, 707, 735, 743, 805, 833, 853, 869, 884, 926, 964, 972, 1029, 1222, 1258, 1354, 1361, 1379, 1386, 1414, 1431, 1434, 1508, 1525, 1571, 1583, 1603, 1638, 1692, 1718, 1732, 1737, 1813, 1878, 1882, 1907, 2009, 2061, 2089, 2090, 2100, 2123, 2139, 2159, 2214, 2232, 2279, 2365, 2377, 2422, 2441, 2444, 2446, 2452, 2469, 2473, 2480, 2486, 2487, 2526, 2527, 2635, 2652, 2679, 2728, 2735, 2740, 2741, 2787, 2839, 2857, 2880, 2881, 2889, 2898, 2909, 2910, 2950, 2955, ...], '상품Z': [3]}