In [1]:
a = "Life is too short, Yoo need python"

In [3]:
a[0]

'L'

In [4]:
a[-1]

'n'

In [5]:
"I eat %d apples." %3

'I eat 3 apples.'

In [6]:
name = '홍길동'

In [7]:
age = 30

In [8]:
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [9]:
a = 'hobby'

In [10]:
a.count('b')

2

In [16]:
",".join('abcd')

'a,b,c,d'

In [17]:
a = 'hi'

In [18]:
a.upper()

'HI'

In [20]:
a = "Life is too short"

In [21]:
a.replace("Life", "Your leg")

'Your leg is too short'

In [22]:
a.split()

['Life', 'is', 'too', 'short']

In [23]:
b = "a:b:c:d"

In [24]:
b.split(':')

['a', 'b', 'c', 'd']

In [25]:
odd = [1,3,5,7,9]

In [26]:
a = [1, 2, ['life', 'is']]

In [37]:
a[2][0] + a[2][1]

'lifeis'

In [40]:
a[-1][0]

'life'

In [41]:
a = [1,2,3,4,5]

In [42]:
a[0:2]

[1, 2]

In [44]:
a = [1,2,3]
b = [4,5,6]

In [45]:
a + b

[1, 2, 3, 4, 5, 6]

In [46]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [47]:
len(a)

3

In [48]:
a

[1, 2, 3]

In [49]:
a[2] = 4

In [50]:
a

[1, 2, 4]

In [51]:
a = [1,6,7,4]

In [52]:
a[1:3] = []

In [53]:
a

[1, 4]

In [54]:
del a[1]

In [55]:
a

[1]

In [56]:
a = [1,2,3]

In [57]:
a.append(4)

In [58]:
a

[1, 2, 3, 4]

In [59]:
a.append([5,6])

In [60]:
a

[1, 2, 3, 4, [5, 6]]

In [61]:
a = [1,4,3,2]

In [63]:
a.sort()

In [64]:
a

[1, 2, 3, 4]

In [66]:
a = [a, 2, 3]

In [68]:
a

[[1, 2, 3, 4], 2, 3]

In [70]:
a = ['a', 'c', 'b']

In [71]:
a.sort()

In [73]:
a

['a', 'b', 'c']

In [74]:
a.reverse()

In [76]:
a

['c', 'b', 'a']

In [81]:
a.index('a')

2

In [82]:
a

['c', 'b', 'a']

In [83]:
a.pop()

'a'

In [84]:
a.pop()

'b'

In [85]:
a.pop()

'c'

In [87]:
a = [1,2,3,1]

In [88]:
a.count(1)

2

In [89]:
t1 = (1, 2, 'a', 'b')

In [90]:
t1[0]

1

In [92]:
t1[1:]

(2, 'a', 'b')

In [93]:
t2 = (3, 4)

In [94]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [95]:
t1

(1, 2, 'a', 'b')

In [97]:
len(t1)

4

In [109]:
l1 = ['a', 'b', 'c', 'd']

In [110]:
l1

['a', 'b', 'c', 'd']

In [111]:
l1.extend(['e', 'f'])

In [112]:
l1

['a', 'b', 'c', 'd', 'e', 'f']

In [113]:
a = {'a' : [1,2,3]}

In [114]:
a

{'a': [1, 2, 3]}

In [115]:
a = {1: 'a'}

In [117]:
a[2] = 'b'

In [118]:
a

{1: 'a', 2: 'b'}

In [119]:
a[1]

'a'

In [120]:
a = {'name':'pey', 'phone':'011993323', 'birth':'1118'}

In [122]:
a.get('name')

'pey'

In [124]:
a.get('phone')

'011993323'

In [126]:
print(a.get('nokey'))

None

In [129]:
a.get('foo', 'bar')

'bar'

In [130]:
s1 = set([1,2,3])

In [131]:
s1

{1, 2, 3}

In [132]:
s2 = set("Hello")

In [133]:
s2

{'H', 'e', 'l', 'o'}

In [135]:
a = True

In [136]:
b = False

In [137]:
bool(-1)

True

In [138]:
bool(0)

False

In [139]:
print(b)

False

In [140]:
bool('')

False

In [141]:
bool(' ')

True

In [142]:
1 == 1

True

In [145]:
2 > 1

True

In [146]:
2 < 1

False

In [147]:
bool("python")

True

In [148]:
bool([1,2,3])

True

In [149]:
bool(None)

False

In [150]:
'a' == 'a'

True

In [151]:
3.14 != 3.14

False

In [152]:
a = 1

In [153]:
b = "python"
c = [1,2,3]

In [161]:
a = 1
b = a
c = [1,2,3]
d = a+1
e = 1

In [163]:
print(id(a)) # 메모리 주소
print(id(b))
print(id(c))
print(id(d))
print(id(e))

1718923488
1718923488
2194766509000
1718923520
1718923488

In [164]:
a is b

True

In [166]:
a is e

True

In [168]:
a = [1,2,3]
a[1] = 4

In [169]:
a, b = 3, 7

In [170]:
a

3

In [171]:
b

7

In [172]:
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:
hyunho
Hello, hyunho

In [174]:
age = 10
print('b', sep='')
print('b')

b
b

In [176]:
print(1,2,3, sep = ', ')

1, 2, 3

In [177]:
print(1, 2, 3, sep='\n')

1
2
3

In [180]:
print("I eat %d apples" %3)

I eat 3 apples

In [181]:
print('실수{} 정수{}' .format(3.14, 20)

실수3.14 정수20

In [183]:
f = open("새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다. \n" %i
    f.write(data)
f.close()

In [184]:
f = open("새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [185]:
f = open("새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [187]:
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [190]:
f = open("새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [191]:
f= open("새파일.txt", 'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [192]:
f = open("새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.

In [193]:
f = open("foo.txt", 'w')
f.write("Life is too short, you need python")
f.close()

In [194]:
with open("foo.txt", 'w') as f:
    f.write("Life is too short, you need python")

In [209]:
f = open("test.txt", 'w')
f.write("Life is too short\nYou need java")
f.close()

In [210]:
new_text_content = ''
target_word = 'java'
new_word = 'python'
with open("test.txt",'r') as f:
    lines = f.readlines() ## 기존 텍스트파일에 대한 내용을 모두 읽는다.
    for i, l in enumerate(lines):
        new_string = l.strip().replace(target_word,new_word)
        if new_string:
            new_text_content += new_string + '\n'
        else:
            new_text_content += '\n'
                
with open("test.txt",'w') as f:
    f.write(new_text_content)

In [212]:
x = 3
y = 2

In [213]:
x > y

True

In [214]:
x == y

False

In [215]:
money = 2000
if money >= 300:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [218]:
if money:
    print("택시를")
    print("타고")
    print("가자")

택시를
타고
가자

In [219]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [220]:
1 in [1, 2, 3]

True

In [221]:
1 not in [1, 2, 3]

False

In [222]:
'a' in ('a', 'b', 'c')

True

In [223]:
'j' not in 'python'

True

In [224]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어 가라")

택시를 타고 가라

In [226]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [227]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass 
else:
    print("카드를 꺼내라")

In [234]:
score = 50
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

failure

In [236]:
score = 50
message = "success" if score >=60 else "failure"
print(message)

failure

In [240]:
score = int(input("점수를 입력하시오 :"))

if score >= 90:
    print('A')
elif 90 > score >= 80:
    print('B')
elif 80 > score >= 70:
    print('c')
else:
    print('F')

점수를 입력하시오 :69
F

In [241]:
i = 1
while i <= 10:
    print(i, "번 출력되었습니다.")
    i = i + 1

1 번 출력되었습니다.
2 번 출력되었습니다.
3 번 출력되었습니다.
4 번 출력되었습니다.
5 번 출력되었습니다.
6 번 출력되었습니다.
7 번 출력되었습니다.
8 번 출력되었습니다.
9 번 출력되었습니다.
10 번 출력되었습니다.

In [242]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." %treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [243]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [249]:
a = 1
sum = 0
while a < 1000 :
    if a % 3 == 0:
        sum += a
    a += 1
print(sum)

166833

In [250]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [253]:
a = [(1,2),(3,4),(5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [254]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [255]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [256]:
a = range(10)
a

range(0, 10)

In [257]:
a = range(1, 11)
a

range(1, 11)

In [258]:
for i in range(10):
    print(i, end="")

0123456789

In [259]:
add = 0
for i in range(1, 11):
    add += i
print(add)

55

In [260]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [261]:
for i in range(len(test_list)):
    print(test_list[i])

one
two
three

In [262]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [267]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end="")
    print('')

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281

In [273]:
A = [70,60,55,75,95,90,80,80,85,100]
sum = 0
for a in A:
    sum += a 
avar = sum / len(A)
print(avar)

79.0

In [276]:
def add(a, b):
    return a+b

add(1, 2)

3

In [277]:
a = 3
b = 4
c = a + b
print(c)

7

In [278]:
def sum():
    a = 3
    b = 4 
    c = a + b
    print(c)
    
sum()

7

In [279]:
def add(a, b):
    return a + b

In [281]:
a = 3 
b = 4
c = add(a, b)
print(c)

7

In [282]:
def add(a, b):
    return a + b

print(add(3,4))

7

In [283]:
def add(a, b):
    result = a + b
    return result

In [284]:
a = add(3,4)
print(a)

7

In [285]:
def say():
    return 'Hi'

In [286]:
a = say()
print(a)

Hi

In [287]:
def add(a,b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [288]:
add(3,4)

3, 4의 합은 7입니다.

In [289]:
a = add(3,4)

3, 4의 합은 7입니다.

In [290]:
print(a)

None

In [292]:
def say():
    print("Hi")

In [293]:
say()

Hi

In [314]:
def add(l1):
    sum = 0
    for i in l1:
        sum += i
    print(sum)    

l1 = list(map(int, input().split()))
add(l1)

1 3 5 7 9
25

In [315]:
def add(a, b):
    return a+b

In [316]:
result = add(a=3, b= 7)
print(result)

10

In [317]:
result = add(b = 5, a = 3)
print(result)

8

In [318]:
def add_many(*args):
    result = 0
    for i in args :
        result = result + i
    return result

In [319]:
result = add_many(1,2,3)
print(result)

6

In [320]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [321]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [323]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [324]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [327]:
def sum_and_mul(a,b):
    return a+b, a*b

In [331]:
result = sum_and_mul(3,4)
print(result)

(7, 12)

In [332]:
sum, mul = sum_and_mul(3, 4)

In [333]:
print(sum)
print(mul)

7
12

In [334]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s입니다." %nick)

In [335]:
say_nick("야호")

나의 별명은 야호입니다.

In [336]:
say_nick("바보")

In [337]:
def say_myself(name, old, man = True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [338]:
say_myself("박응용", 27)

나의 이름은 박응용입니다.
나이는 27살입니다.
남자입니다.

In [339]:
say_myself("박응용", 27, True)

나의 이름은 박응용입니다.
나이는 27살입니다.
남자입니다.

In [341]:
say_myself("박응선", 27, False)

나의 이름은 박응선입니다.
나이는 27살입니다.
여자입니다.

In [350]:
# vartest.py
a = 1
def vartest(a):
    a = a + 1
    print(a)
    
vartest(a)
print(a)

2
1

In [351]:
b = 1
def vartest():
    global b
    b = b+1
vartest()
print(b)

2

In [2]:
add = lambda a, b : a+b

In [3]:
result = add(3,4)

In [4]:
print(result)

7

In [8]:
def is_odd(a):
    if a%2 == 0:
        print("짝수")
    else:
        print("홀수")
        

a = int(input())
is_odd(a)

1
홀수

# 5.파일 읽고 쓰기

In [13]:
f = open("새파일.txt", 'w')
f.close()

In [14]:
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [16]:
f = open("새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [17]:
# readline.py
f = open("새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [18]:
#readine_all.py
f = open("새파일.txt", 'r')
while True:
    line = f.readline()
    if not line : break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [19]:
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [20]:
f = open("새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [21]:
f = open("새파일.txt", 'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [22]:
f = open("foo.txt", 'w')
f.write("Life is too short, you need python")
f.close()

In [23]:
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")

In [25]:
f = open("test.txt", 'w')
f.write("Life is too short \nyou need java")
f.close()

In [27]:
new_text_content = ''
target_word = 'java'
new_word = 'python'
with open("test.txt",'r') as f:
    lines = f.readlines() ## 기존 텍스트파일에 대한 내용을 모두 읽는다.
    for i, l in enumerate(lines):
        new_string = l.strip().replace(target_word,new_word)
        if new_string:
            new_text_content += new_string + '\n'
        else:
            new_text_content += '\n'
                
with open("test.txt",'w') as f:
    f.write(new_text_content)

In [1]:
# p165 실습 문제 

f = open("score.txt", 'w')
f.write("70 60 55 75 95 90 80 80 85 100")
f.close()

In [2]:
with open("score.txt", 'r') as f:
    line = f.readline()
f.close()
a = line. split()
sum = 0
for i in a:
    sum += int(i)
avar = sum / len(a)
print(sum)
print(avar)

790
79.0

# 6. 클래스

In [44]:
result = 0
def adder(num):
    global result
    result += num
    return result

print(adder(3))
print(adder(4))

3
7

In [53]:
result1 = 0
result2 = 0

def adder1(num):
    global result1
    result1 += num
    return result1

def adder2(num):
    global result2
    result2 += num
    return result2

In [54]:
adder1(3)
adder1(4)

7

In [55]:
adder2(3)
adder2(7)

10

In [74]:
class Calculator:
    def __init__(self):
        self.result = 0
    
    def adder(self, num):
        self.result += num
        return self.result

In [75]:
cal1 = Calculator()
cal2 = Calculator()

In [76]:
print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

In [80]:
class Student:
    name = "홍길동"
    def info(self):
        print("제 이름은 " + self.name + "입니다.")

In [81]:
inst = Student()
inst.name

'홍길동'

In [82]:
inst.info()

제 이름은 홍길동입니다.

In [87]:
class Student2:
    name = "홍길동"
    def __init__(self):
        print("init 이해하셨나요?\n")
    def info(self):
        print("제 이름은" + self.name + "입니다.")

In [88]:
inst2 = Student2()

init 이해하셨나요?

In [92]:
class University(Student):
    major = "컴퓨터공학"
    def intro(self):
        print(" 제 이름은 " + self.name + "이고 전공은 " + self.major + "입니다.")

In [93]:
inst3 = University()
inst3.name

'홍길동'

In [94]:
inst3.intro()

 제 이름은 홍길동이고 전공은 컴퓨터공학입니다.

In [95]:
class Student:
    name = "홍길동"
    def info(self):
        print("제 이름은 " + self.name + "입니다.")

In [96]:
class University(Student):
    major = "컴퓨터공학"
    def info(self):
        print(" 제 이름은 " + self.name + "이고 전공은 " + self.major + "입니다.")

In [97]:
inst3 = University()
inst3.name

'홍길동'

In [98]:
inst3.info()

 제 이름은 홍길동이고 전공은 컴퓨터공학입니다.

# 7. 모듈

In [106]:
# mod1.py

def add(a, b):
    return a+b

def sub(a, b):
    return a-b

In [107]:
import mod1

print(mod1.add(3, 4))
print(mod1.sum(4, 2))

7

AttributeError: module 'mod1' has no attribute 'sum'

In [8]:
# p165 실습 문제 

f = open("score.txt", 'w')
l1 = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
f.write(l1)
f.close()

with open("score.txt", 'r') as f:
    line = f.readline()

a = line.split()
print(type(a))
sum = 0
for i in a:
    sum += int(i)
avar = sum / len(a)
print(avar)

<class 'str'>
<class 'list'>
79.0

In [12]:
# 3 - 1 

naver_closing_price = [["9/07", "월", "474500"], 
                       ["9/08", "화", "461500"], 
                       ["9/09", "수", "501000"],
                       ["9/10", "목", "500500"],
                       ["9/11", "금", "488500"]]
print(naver_closing_price )

[['9/07', '월', '474500'], ['9/08', '화', '461500'], ['9/09', '수', '501000'], ['9/10', '목', '500500'], ['9/11', '금', '488500']]