In [1]:
# 경고(worning) 비표시
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
uriage = pd.read_csv("uriage.csv")
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [3]:
customer_data= pd.read_excel("kokyaku_daicho.xlsx", engine='openpyxl')
customer_data.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

In [4]:
customer_data['고객이름'] = customer_data['고객이름'].str.replace(" ", "")
customer_data['고객이름']

0      김현성
1      김도윤
2      김지한
3      김하윤
4      김시온
      ...
195    김재희
196    김도영
197    김이안
198    김시현
199    김서우
Name: 고객이름, Length: 200, dtype: object

In [5]:
uriage['item_name'] = uriage['item_name'].str.replace(" ", "")
uriage['item_name']

0       상품A
1       상품S
2       상품a
3       상품Z
4       상품a
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [6]:
uriage['item_name'] = uriage['item_name'].str.upper()
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [7]:
uriage['item_name'].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [8]:
uriage['item_price'].unique()

array([ 100.,   nan, 2600., 1900., 2200., 1500., 2100., 1200.,  300.,
        900., 1800., 2400.,  700., 1600., 1700., 2500., 2300.,  500.,
       1100.,  200.,  600., 1400.,  400., 1300.,  800., 2000., 1000.])

In [9]:
uriage_list = list(uriage['item_name'].unique())
uriage_list

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [10]:
uriage_nun = uriage['item_price'].isnull()

In [11]:
uriage_dict = {}

for i in uriage_list:
    if

SyntaxError: invalid syntax (<ipython-input-11-92812f258c13>, line 4)

In [ ]:
uriage['item_price'].isnull()